@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes swing-scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-130%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-swing-scroll {
  animation: swing-scroll 24s ease-in-out infinite;
}

/* FAST on hover */
.animate-swing-scroll:hover {
  animation-duration: 10s;   /* 3× faster */
}

